
/* Generals */
*{margin: 0;padding: 0;}

          input{
                   background:none;
                   border:none;
	 								 color: rgba(2, 68, 97,1);
	 								 font-size: 0.9em;
	 								 padding: 2px 0 0 0;
									 outline:0;
          }
					input::placeholder{
                    color: rgba(0, 95, 137, .4);
                    font-size: 12px;
                    text-align: center;
                  }

/*  Body */
body{
	font-size:14px;
	color:#666;
	background:#FFF no-repeat;
	/* CSS3 Radial Gradients */
	background-image:-moz-radial-gradient(center -100px 45deg, circle farthest-corner, #FFF 150px, #FFF 300px);
	background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#FFF), to(#FFF));

	font-family:Arial, Helvetica, sans-serif;
}


div.header{
	background: rgba(0, 95, 137, 1);
	color: rgba(255, 255, 255, 1);
}
	div.header div.label{
		padding: 4px;
			text-align: center;
	}


div#container{
		margin: auto;
		width: 700px;
}
	div#container div.caseBox,
	div#container div.setter{
			display: inline-block;
			vertical-align: top;
	}

/* Cases */
div.caseBox{
		border: solid 1px rgba(200,200,200,.5);
		width: 150px;
					/* Remove selection */
											 -webkit-user-select: none;
											 -moz-user-select: none;
											 -ms-user-select: none;
											 user-select: none;
}
div.caseBox  div.title{
			background: rgba(0, 95, 137, 1);
			color: rgba(255, 255, 255, 1);
			height: 20px;
	}
	div.caseBox div.title div.label{
			padding: 2px 0 0 0;
			text-align: center;
	}

	div.caseBox div.caseList{}

	div.caseBox div.caseList div.case{
				color: rgba(0, 95, 137, 1);
				cursor: pointer;
	}
	div.caseBox div.caseList div.case:hover{
		background: rgba(0, 95, 137, 0.2);
	}
	div.caseBox div.caseList div.case div.label{
				text-align: center;
		}

/*  Setter */
	div#container div.setter{
				border: solid 0.5px rgba(240,240,240,1);
				width: 470px;
				}

				div#container div.setter div.field{}
					div#container div.setter div.field div.textbox{
							margin: auto;
							width: 160px;
					}
						div#container div.setter div.field div.textbox input{
								border-bottom: solid 1px rgba(220,220,220,1);
								text-align: center;
								width: 160px
						}
					div#container div.setter div.field div.message{
								color: rgba(180,180,180,1);
								font-size: 0.8em;
								text-align: center;
					}

					/* Now case */
					div.nowCase{
					   	background: rgba(0, 95, 137, .5);
							font-size: 0.9em;
							margin: 10px 0 10px 0;
							text-align: center;
					}
						div.nowCase div.label{
								color: rgba(255,255,255,1);
								padding: 2px;
						}

					/* frame  */
							div#frame{
										margin: auto;
										width: 480px;
							}
								div#frame div.sector{
										display: inline-block;
										padding: 0 10px 0 10px;
										vertical-align: top;
								}

					/* Cube */
					div#fieldCube div#msj_number_cubes{
						max-width: 160px;
					}

					div.cubeBox{
							border: solid 1px rgba(200,200,200,.5);
							width: 165px;
										/* Remove selection */
																 -webkit-user-select: none;
																 -moz-user-select: none;
																 -ms-user-select: none;
																 user-select: none;
					}

						div.cubeBox,div#fieldCube{
						}

					div.cubeBox  div.title{
								background: rgba(0, 95, 137, 1);
								color: rgba(255, 255, 255, 1);
								height: 20px;
						}
						div.cubeBox div.title div.label{
								padding: 2px 0 0 0;
								text-align: center;
						}

						div.cubeBox div.cubeList{}

								/* head cube */
							div.cubeBox div.cubeList div.headCube{}
								div.cubeBox div.cubeList div.headCube div.number,
								div.cubeBox div.cubeList div.headCube div.shape,
								div.cubeBox div.cubeList div.headCube div.value{
										display: inline-block;
										font-size: 0.8em;
										text-align: center;
										vertical-align: top;
										width: 55px;

								}

							div.cubeBox div.cubeList div.headCube,
							div.cubeBox div.cubeList div.cube{}

							div.cubeBox div.cubeList div.cube{
									border-bottom: solid 0.5px rgba(240,240,240,1);
									color: rgba(0, 95, 137, 1);
									cursor: pointer;
						}
						div.cubeBox div.cubeList div.cube:hover{
							background: rgba(0, 95, 137, 0.2);
						}

						div.cubeBox div.cubeList div.cube div.number,
						div.cubeBox div.cubeList div.cube div.shape,
						div.cubeBox div.cubeList div.cube div.value{
								display: inline-block;
								font-size: 0.8em;
								vertical-align: top;
								width: 55px;
						}

						div.cubeBox div.cubeList div.cube div.label{
									text-align: center;
							}

							/* Operations */
									div#sectorOperation{
										width: 200px;
									}
									div#fieldOperation div#msj_number_operations{
											margin: auto;
											max-width: 200px;
									}
									div#fieldOperation input{width: 200px !important;}
									div.operationBox{
											border: solid 1px rgba(200,200,200,.5);
											width: 250px;
														/* Remove selection */
																				 -webkit-user-select: none;
																				 -moz-user-select: none;
																				 -ms-user-select: none;
																				 user-select: none;
									}

									div.operationBox  div.title{
												background: rgba(0, 95, 137, 1);
												color: rgba(255, 255, 255, 1);
												height: 20px;
										}
										div.operationBox div.title div.label{
												padding: 2px 0 0 0;
												text-align: center;
										}

										div.operationBox div.operationList{}

												/* head operation */
											div.operationBox div.operationList div.headOperation{}
												div.operationBox div.operationList div.headOperation div.number,
												div.operationBox div.operationList div.headOperation div.description,
												div.operationBox div.operationList div.headOperation div.parameters,
												div.operationBox div.operationList div.headOperation div.result{
														display: inline-block;
														font-size: 0.8em;
														text-align: center;
														vertical-align: top;
														width: 60px;

												}

											div.operationBox div.operationList div.headOperation,
											div.operationBox div.operationList div.operation{}

											div.operationBox div.operationList div.operation{
													border-bottom: solid 0.5px rgba(240,240,240,1);
													color: rgba(0, 95, 137, 1);
													cursor: pointer;
										}
										div.operationBox div.operationList div.operation:hover{
											background: rgba(0, 95, 137, 0.2);
										}

										div.operationBox div.operationList div.operation div.number,
										div.operationBox div.operationList div.operation div.description,
										div.operationBox div.operationList div.operation div.parameters,
										div.operationBox div.operationList div.operation div.result{
												display: inline-block;
												font-size: 0.8em;
												text-align: center;
												vertical-align: top;
												width: 60px;
										}

										div.operationBox div.operationList div.operation div.label{
													text-align: center;
											}
                      div.operationBox div.operationList div.headOperation div.parameters{
                        width: 70px !important;
                      }
                      div.operationBox div.operationList div.operation div.parameters{
                          font-size: 0.7em!important;
                          width: 70px !important;
                      }
											div.operationBox div.operationList div.operation div.parameters div{
													display: inline-block;
													vertical-align: top;
											}

											/* Now operation */
											div.nowOperation{
														background: rgba(0, 95, 137, .2);
														font-size: 0.9em;
														margin: 10px 0 10px 0;
														text-align: center;
											}
											div.nowOperation div.label{
														color: rgba(0, 95, 137,1);
														padding: 2px;
											}

											/* setter Operation */
											div#setter_operation{}
												div#setter_operation div.actions{
														margin: auto;
														padding: 10px 0 10px 0;
														width: 190px;
												}
													div#setter_operation div.actions div.button{
															border-bottom: solid 1px rgba(0, 95, 137,.5);
															border-top: solid 1px rgba(0, 95, 137,.5);
															border-radius: 2px;
															color: rgba(0, 95, 137,0.6);
															cursor: pointer;
															display: inline-block;
															height: 24px;
															margin: 0 0 0 10px;
															vertical-align: top;
															width: 80px;
															/* Remove selection */
																					 -webkit-user-select: none;
																					 -moz-user-select: none;
																					 -ms-user-select: none;
																					 user-select: none;
													}
													div#setter_operation div.actions div.button:hover{
																background: rgba(0, 95, 137,0.1) !important;
																color: rgba(0, 95, 137,1) !important;
													}
														div#setter_operation div.actions div.button div.label{
																padding: 4px 0 0 0;
																text-align: center;
														}
														/* danger area */
														div#setter_operation div.danger_area{
																	height: 95px;
														}
														div#setter_operation div.danger_area div.operate{
																	background: rgba(0, 95, 137, .04);
																	font-size: 0.9em;
																	margin: 0 0 10px 0;
																	text-align: center;
														}
														div#setter_operation div.danger_area div.operate div.label{
																	color: rgb(120, 158, 176);
																	padding: 2px;
														}
														/* message area */
														div#msj_cube_value{
																margin: auto;
																width: 240px
														}
